flows 5.json
[{"id":"5b82670a.6cdd48","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"bfc19d77.9b775","type":"http in","z":"5b82670a.6cdd48","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":140,"y":220,"wires":[["66a5cc26.7cff14"]]},{"id":"326ae5e7.11e27a","type":"rpi-gpio in","z":"5b82670a.6cdd48","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":90,"y":480,"wires":[["89930f7b.3c67a"]]},{"id":"89930f7b.3c67a","type":"function","z":"5b82670a.6cdd48","name":"SET GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["b5c848d3.cdbfa8"]]},{"id":"66a5cc26.7cff14","type":"function","z":"5b82670a.6cdd48","name":"GET GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["e6861630.ca5b38","b5c848d3.cdbfa8"]]},{"id":"e6861630.ca5b38","type":"http response","z":"5b82670a.6cdd48","name":"","statusCode":"","headers":{},"x":560,"y":300,"wires":[]},{"id":"b5c848d3.cdbfa8","type":"debug","z":"5b82670a.6cdd48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":400,"wires":[]}]