flows4.json
[{"id":"92e72428.b04ec8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"90ce96c1.babad8","type":"http in","z":"92e72428.b04ec8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["87df59aa.559228"]]},{"id":"87df59aa.559228","type":"random","z":"92e72428.b04ec8","name":"","low":"1","high":"10","inte":"true","property":"payload","x":320,"y":260,"wires":[["e661ee5e.63832","aeb9ac3b.b6ebc"]]},{"id":"aeb9ac3b.b6ebc","type":"debug","z":"92e72428.b04ec8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":360,"wires":[]},{"id":"e661ee5e.63832","type":"http response","z":"92e72428.b04ec8","name":"","statusCode":"","headers":{},"x":510,"y":260,"wires":[]}]